@model SpecialTeam

<div class="container">
    <h2>Special Team/Update</h2>
    <form method="post" enctype="multipart/form-data">
        <div style="width:120px">
            <img style="max-width:100%" src="~/uploads/team/@Model.ImageName" alt="">
            <input type="hidden" asp-for="ImageName"/>
        </div>
        <div class="mb-3">
            <label asp-for="ImageFile" class="form-label">Image</label>
            <input asp-for="ImageFile" class="form-control" placeholder="Image">
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>
        <select asp-for="PositionId" class="form-select" aria-label="Default select example">
            @foreach (Position position in ViewBag.Positions)
            {
                <option value="@position.Id">@position.Name</option>
            }
        </select>
        <div class="mb-3">
            <label asp-for="Fullname" class="form-label">Fullname</label>
            <input asp-for="Fullname" class="form-control" placeholder="Fullname">
            <span asp-validation-for="Fullname" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="FbUrl" class="form-label">FbUrl</label>
            <input asp-for="FbUrl" class="form-control" placeholder="FbUrl">
        </div>
        <div class="mb-3">
            <label asp-for="InstUrl" class="form-label">InstUrl</label>
            <input asp-for="InstUrl" class="form-control" placeholder="InstUrl">
        </div>
        <div class="mb-3">
            <label asp-for="TwUrl" class="form-label">TwUrl</label>
            <input asp-for="TwUrl" class="form-control" placeholder="TwUrl">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-action="index" asp-controller="specialteam" class="btn btn-dark">Cancel</a>
    </form>
</div>